# Don't format these folders
node_modules
.next
build
dist
.claude

# Don't format these files
pnpm-lock.yaml
.env
.env.local
*.mdx

# Don't format images and icons
public/**/*.svg
public/**/*.png
public/**/*.jpg
